* {
    font-family: 'Poppins', sans-serif serif;
}

:root {
    --laranja: rgba(255, 121, 63, 0.95);
    --azul: rgb(52,172,224);
    --azul-Escuro: #2C5D92;
}

body {
    background-color: var(--azul);
    overflow: hidden;
    width: 110%;
    overflow-x: hidden;
    margin: 0;
}

.logo{
    width:10vw;
    position:relative;
    z-index:5;
    top:4vw;
    left:3.5vw;
   
}


footer {
    position: relative;
    top: 35vw;
}


.center {
    position: absolute;
    top: 12%;
    left: 25%;
    width: 50vw;
    height: 43vw;
    background: white;
    border-radius: 10px;
}
.form-container{
    position:absolute;
    top:-5.5vw;
    z-index:1;
}
.produtos {
    color: var(--azul-Escuro);
    overflow-y: visible;
    position: relative;
    font-family: 'Poppins', sans-serif serif;
    left: 5%;
}
    .produtos table td, .produtos table th {
        font-family: 'Poppins', sans-serif serif;
    }

form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 1vw 7vw;
    top: -3.5vw;
}

.txt_field input {
    width: 80vw;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    max-width: 33vw;
}

.input:focus,
.input:valid {
    top: -5px;
    color: #2691d9;
}
h4 {
    color: var(--azul-Escuro);
    font-weight: 600;
    position: relative;
   
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
    left: 36%;
}
select {
    font-family: 'Poppins', sans-serif serif;
    background-color: white;
    width: 12vw;
    height: 2vw;
    color: crimson;
    border: 1px solid crimson;
    border-radius: 5px;
    margin-left: 1vw;
    outline: none;
}
.selects{
    position:relative;
    display:flex;
    left:7vw;
    margin-bottom:4vw;
   

}

.cadastrar {
    background: linear-gradient(180deg, #0089EC 0%, rgba(255, 255, 255, 0) 100%), #34ACE0;
    border-radius: 5px;
    border: none;
    outline: none;
    position: relative;
    top: -3vw;
    color: aliceblue;
    width: 8vw;
    left: 40%;
    height: 2vw;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}


body > div > div > form > a {
    position: relative;
    cursor: pointer;
    color: var(--azul-Escuro);
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    left: 5%;
    font-size: 1vw;
    top: -2.3vw;
    z-index: 2;
}

span {
    color: var(--azul-Escuro);
    position: relative;
    left: 40%;
    top: 8.6vw;
    font-size: 1vw;
    font-family: 'Poppins';
    font-weight: 800;
    z-index: 5;
}
