* {
    font-family: 'Poppins', sans-serif serif;
}

:root {
    --laranja: rgba(255, 121, 63, 0.95);
    --azul: rgb(52,172,224);
    --azul-Escuro: #2C5D92;
}

body {
    background-color: var(--azul);
    overflow: hidden;
    width: 110%;
    overflow-x: hidden;
    margin: 0;
}

body > div.center > form > div > div:nth-child(7) > div > a {
    color: var(--laranja);
    font-family: 'Poppins', sans-serif serif;
    font-weight:700;
    font-size:1vw;
    text-decoration:none;
}
span{
    color: aliceblue;
    font-family: 'Poppins', sans-serif serif;
    position:relative;
    top:5vw;
    left:25%;
}
.logo{
    width:10vw;
    position:relative;

}

#nome {
    position: relative;
    left: 10%;
    font-size: 2vw;
    top: 1vw;
    max-inline-size: 1vw;
    color: aliceblue;
}
.form-horizontal{
    position:absolute;
    bottom:5vw;
}

footer {
    position: relative;
    top: 35vw;
}


.center {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50vw;
    height: 38vw;
    background: white;
    border-radius: 10px;
}
h4 {
    color: var(--azul-Escuro);

    font-weight: 600;
    position: relative;
    bottom: 2vw;
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
    left: 35%;
}
.cadastrar {
    background: linear-gradient(180deg, #0089EC 0%, rgba(255, 255, 255, 0) 100%), #34ACE0;
    border-radius: 5px;
    border: none;
    outline: none;
    position: relative;
    top: 5%;
    color: aliceblue;
    width: 8vw;
    left: 40%;
    height: 2vw;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 1vw 7vw;
}

.txt_field input {
    width: 80vw;
    padding: 0 20px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    max-width: 31vw;
}

.input:focus,
.input:valid{
    top: -5px;
    color: #2691d9;
}

body > div.center > form > div > div:nth-child(2) > a {
    text-decoration: none;
    cursor: pointer;
    color: var(--azul-Escuro);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    left: 10%;
    position:relative;
    bottom:6vw;
}
