* {
    font-family: 'Poppins', sans-serif serif;
}

:root {
    --laranja: rgba(255, 121, 63, 0.95);
    --azul: rgb(52,172,224);
    --azul-Escuro: #2C5D92;
}

body {
    background-color: var(--azul);
    overflow: hidden;
    width: 110%;
    overflow-x: hidden;
    margin: 0;
}
.logo{
    width:10vw;
    position:relative;
    left:5vw;
    top:-2.5vw;
}

footer {
    position: relative;
    top: 35vw;
}
h2 {
    font-family: 'Poppins';
    color: aliceblue;
    position: relative;
    left:40%;
    top:5vw;
}
body > div > a {
    text-decoration: none;
    cursor: pointer;
    color: var(--azul-Escuro);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    position:absolute;
    left:3vw;
    top:1.5vw;
}

.center {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 70vw;
    height: 38vw;
    background: white;
    border-radius: 10px;
}
.codigo{
    width:2vw;
}

body > div.center > div > a {
    text-decoration: none;
    cursor: pointer;
    color: var(--azul-Escuro);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
body > div.center > table > tbody > a {
    text-decoration: none;
    cursor: pointer;
    color: var(--azul-Escuro);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
table {
    position: absolute;
    top: 12%;
    width: 80%;
    margin-left: 2vw;
    margin-right: 2vw;
    left: 2vw;
}

    table th {
        font-family: poppins;
        color: var(--azul-Escuro);
        font-weight: 800;
        text-decoration: none;
        border-right: 1px solid #00ff21;
    }
    table td {
        color: var(--azul-Escuro);
        font-family: 'Poppins';
        font-weight: 700;
        text-align:center;
    }

.Adicionar {
    background: linear-gradient(180deg, #0089EC 0%, rgba(255, 255, 255, 0) 100%), #34ACE0;
    border-radius: 5px;
    border: none;
    outline: none;
    position: relative;
    color: aliceblue;
    width: 8vw;
    left: 42vw;
    height: 2vw;
    top:-7.5vw;
    cursor: pointer;
}