
:root {
    --laranja: rgba(255, 121, 63, 0.95);
    --azul: rgb(52,172,224);
}

body {
    overflow: hidden;
    background-color: var(--azul);
}

footer {
    position: relative;
    top: 35vw;
}

.center {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35vw;
    height: 30vw;
    background: white;
    border-radius: 10px;
}

.logo {
    max-width: 25vw;
    position: relative;
    left: 10vw;
    width: 10vw;
    z-index: 1;
}
