* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    overflow-y:hidden;
}
body {
    display: block;
    background-color: #D5D6D7;
    overflow-x: hidden;
}
header {
    position: absolute;
    width: 100%;
    height: 62px;
    left: 0px;
    top: 2vw;
    display: flex;
    align-items: center;
    background: transparent;
    z-index: 100;
    overflow-x: hidden;
}

h1 {
    position: absolute;
    width: 1191px;
    height: 206px;
    left: -23px;
    top: 143px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    z-index:10;
}
h2 {
    position: absolute;
    width: 1191px;
    height: 206px;
    right: 57%;
    top: 192px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    color: #FF793F;
    text-shadow: 0px 4px 4px rgba(255, 121, 63, 0.64), 0px 4px 4px rgba(255, 121, 63, 0.81), 0px 4px 4px rgba(255, 121, 63, 0.58);
    z-index: 10;
}
.Login {
    background-color: rgba(241, 241, 241, 0.71);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 30px;
    border: none;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor:pointer;
    left: 90%;
    text-align: center;
    color: #FF7134;
    width: 3vw;
    border-radius: 10px;
}
.setorGamer {
    background-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 30px;
    border: none;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    left: 20%;
    text-align: center;
    color: rgb(52,172,224);
    width: 7vw;
    overflow-x: hidden;
    border-radius: 10px;
}
.setorp {
    background-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 30px;
    border: none;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    left: 25%;
    text-align: center;
    color: rgb(52,172,224);
    width: 8vw;
    overflow-x: hidden;
    border-radius: 10px;
}
.logo  {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 10vw;
  
    position: absolute;
    max-width: 220px;
    left: 3.5%;
}
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }